body {
  background: #2d0d24;
}

@font-face {
  src: url('../utils/fonts/Pixel Anchor-Jack/pixel-anchor-jack_0.ttf');
  font-family: 'Pixel Anchor-Jack';
  format: 'truetype';
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Pixel Anchor-Jack';
}
